.f-low {
  color: Red;
}
.d-medium {
  color: orange;
}
.c-medium {
  color: rgb(180, 180, 7);
}
.b-medium {
  color: yellowgreen;
}
.a-high {
  color: green;
}
.f-low,
.d-medium,
.c-medium,
.b-medium,
.a-high {
  letter-spacing: 0.05em;
  font-weight: bolder;
}
